.toolbar{
	overflow: hidden;
}
.btn--toolbar{
	border: none;
	background-color: $brand-color;
	float: $page-dir-align;
	padding: 3px 6px;
	border-right: 3px solid darken($brand-color, 20%);
	
	.active{
		background-color: lighten($brand-color, 20%);
		border: 1px solid #black;
	}
}